.btn--outline {
  border: 1px solid $color-white;
  display: inline-block;
  padding: rem(8px) rem(25px);
  background-color: $color-dark-violet;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
  z-index: 100;

  &:hover {
    background-color: $color-white;
    color: $color-dark-violet;
  }
}

.btn--outline-inverse {
  border: 1px solid $color-dark-violet;
  display: inline-block;
  padding: rem(8px) rem(25px);
  background-color: $color-white;
  transition: color 0.3s ease-in-out 0s, background-color 3s ease-in-out 0s;
  z-index: 100;

  &:hover {
    background-color: $color-dark-violet;
    color: $color-white;
  }
}
